'use client';

import { type FC } from 'react';

export interface {{pascalCase name}}Props {
  className?: string;
}

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({ className }) => {
  return (
    <div className={className}>
      <p>{{pascalCase name}} component</p>
    </div>
  );
};
